div(class='site-nav')
    div(class='close-button-div')
        button(class='button-success-outlined nav-closed' )
            span x
    h3(class='cart-header') Goods
    div(id='category-list')
    h3(class='cart-header') Cart
    div(id='cart-nav')
    div(class='nav-order-container')
        a(
            href='/order'
            target='blank'
        )
            button(class='btn button-primary-outlined order-button') Order
